<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Uva Club of Korea</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">

body {
    background-color: #eee;
}
</style>
 <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">
  <div class="row">
    <div class="span12">
      <div class="head">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <h1 class="muted" href="./UvaEvents"><font color= "#cc6600">Uva Club of</font> <font color ="#333366">Korea</font></h1>
                </div>

                <div class="span4 offset2" style="margin-top:15px;">
                    <a href="https://www.facebook.com/groups/332679543474987/"><button type="button" class="btn btn-primary pull-right">Facebook</button></a>
                </div>
            </div>
        </div>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li>
                            <a href="./About"><strong>About</strong></a>
                        </li>

                        <li>
                            <a href="./UvaMembers"><strong>구성원</strong></a>
                        </li>

                        <li>
                            <a href="./UvaEvents"><strong>행사</strong></a>
                        </li>

                        <li>
                            <a href="./UvaQuestions"><strong>궁금한점</strong></a>
                        </li>

                        <li>
                            <a href="./UvaContact"><strong>Contact Us</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>